<div class="login-forms">

  <form class="forms" action="/auth/login" method="POST">

    <div class="form-space">
      <label class="label-us" for="username">Username</label>
      <input class="controls" type="text" name="username" placeholder="ingresar username">
    </div>

    <br>
    
    <div class="form-space">
      <label class="label-ps" for="password">Password</label>
      <input class="controls" type="password" name="password" placeholder="ingresar password">
    </div>
    
    <p class="err-message" style="color: red" >{{errorMessage}}</p>

    <div class="btn-sign">
      <button class="button-in">Entrar</button>
    </div>

    <br>
    <div class="link-sign">
      <p class="sign">¿Todavía no tienes cuenta?<a class="sign-link" href="/auth/signup">Regístrate</a></p>      
    </div>

  </form>


</div>