
<h1>Todas las Noticias</h1>
















{{!-- {{#each listOfComments}}

  <li>
    <a href="/comment/{{this._id}}/details">{{this.title}}</a>

    <a href="/comment/{{this._id}}/edit"><button>Editar</button></a>

    <form action="/comment/{{this._id}}/delete" method="POST" style="display: inline">
      <button>Eliminar</button>
    </form>
  </li>

{{/each}} --}}