<div class="error-page">

  <div class="error-title">
    <h1>Error!</h1>
  </div>

  <div class="error-image">
    <img class="pinta-mal" src="/images/la-cosa-no-pinta-nada-bien.jpg" alt="no pinta bien" />
  </div>

</div>