<div class="not-found-page">

  <div class="not-found-title">
    <h1>404 Error</h1>
  </div>

  <div class="error-image">
    <img class="pinta-mal" src="/images/la-cosa-anda-mal.jpg" alt="lacosa" />
  </div>

</div>

