body {
  padding: 0;
  margin: 0;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

p {
  text-indent: 0.4em;
}


/*TODO-------------HEADER-------------------- */

header {
/*   border: 3px solid white;
  background-color: #c07423; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
/*   position: sticky;
  top: 0; */
}

#logo-header {
  /*   background-color: #00b7ff; 
  border: 3px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #237cc0;
  width: 100vw;
  height: 8em;
}

#image {
  /*   background-color: #00b7ff; */
  width: 17em;
  height: auto;
  display: block;
}

#nav-bar {
  background-color: #34373a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 2.8em;
  box-shadow: 1px 0px 2px #16181c;
}

.nav {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75em;
  height: 2em;
  gap: 4em;
  margin-left: 4em;
  padding-bottom: 1em;
}

.nav-link {

  color: rgb(224, 232, 242);
  font-size: 1em;
  text-decoration: none;
  width: 8em;
}

.nav-link:hover {
  transition: 0.2s;
  text-transform: uppercase;
  color: #00b7ff;
  transition-delay: 0.2s;
}


.perfil-icon {
  display: flex;
  padding-right: 1em;
}

.icon {
  /* background-color: #c07423; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1em;
  height: 2.1em;
  
}

/*TODO-------------HEADER-------------------- */


/*TODO----------------INDEX------------------ */





.portada {

/*   padding-left: 21%; */




}


.carousel-portada {
  width: 80vw;
  padding-left: 21%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.carousel {
  background-color: #acbec5;
  margin-bottom: 4rem;

}

.carousel-caption {
  bottom: 3rem; 
  z-index: 10;
  text-shadow: 0 0 10 px #000;
}

.carousel-item {
  position: relative;
  overflow: hidden;
  background: #777;
  width: 100%;
  padding-top: 56.25%;
}

.carousel-item > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.carousel-control-next, .carousel-control-prev {
  height: 85%;
}


/* .hot-news {

} */

.title-index {
  color: rgb(224, 232, 242);
}



.hot-news {
/*   border: 4px solid black;
  background-color: #00b7ff; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1em;

}

.news {
  border: 2px solid white;
  background-color: #d65216;
  display: flex;
  min-width: 45%;
}

.news-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.news-card {
  display: flex;
}

/* .news-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
} */

.news-image {
  position: relative;
  overflow: hidden;
  background: #777;
  width: 100%;
  padding-top: 56.25%;
  
}

.news-image > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.news-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.teasers {
  border: 2px solid white;
  background-color: #d65216;
  display: flex;
  min-width: 15%;
}

.teaser-colum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.teaser-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.teaser-image {
  display: flex;
}

.teaser-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}


/*TODO---------------------------------------INDEX---------------------------------------- */


/*TODO----------------------------------------SIGNUP-------------------------------------- */

.signup-forms {
  margin-top: 4em;
  display: flex;
  box-sizing: border-box;

}

.forms {
  max-width: 375px;
  background: #c9c9c8;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  color: rgb(54, 53, 53);
  gap: 5.5em;

}

.form-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.label-us {
  padding-right: 19.4em;

}

.label-em {
  padding-right: 21.7em;
}

.label-ps {
  padding-right: 19.7em;
}

.controls {

  width: 85%;
  background: rgb(255, 255, 255);
  padding: 10px 10px 10px 15px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 14px;
  color: #222222;
  opacity: 90%;
}

::placeholder {
  color: rgb(104, 103, 103);
  opacity: 40%;
}

.forms p {
  height: 40px;
  text-align: center;
  font-size: 12px;
}

.forms a {
  color: white;
  text-decoration: none;
}

.check-policy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  min-width: 6em;
  padding-left: 1em;
}

.checkbox {
  display: inline-flex;
  align-items: center;

}

.chexbox__input {
  display: inline-flex;
  align-items: center;
  
}

#policy {
  display: inline-flex;
  align-items: center;
}

.sp-term {
  color: #237cc0;
  text-decoration: underline;
}

.sp-term:hover {
  transition: 0.3s;
  color: #ffffff;
  text-decoration: underline;
}

.err-message {
  display: flex;
  justify-content: left;
}

.btn-registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 11em;
  height: 2.5em;
  background-color: #00b7ff;
  color: white;
  font-size: 17px;
  transition: .5s;
}

.button:hover {
  background-color: #62c955;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
}

.link-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrado {
  max-width: 14em;
  max-height: 2.5em;
  font-size: 13px;
}

.registrado a:hover {
  max-width: 14em;
  max-height: 2.5em;
  transition: 0.7s;
  color: #0599d4;
  text-decoration: underline;
  font-size: 16px;
}

/*TODO---------------------------------SIGNUP---------------------------------------- */


/*TODO----------------------------------LOGIN---------------------------------------- */
.login-forms {
  display: flex;
  box-sizing: border-box;

}

.forms {
  
  max-width: 375px;
  background: #c9c9c8;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  color: rgb(54, 53, 53);
/*   box-shadow: 8px 12px 37px rgb(72, 68, 68); */
  gap: 5.5em;
}

.form-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.forms p {
  height: 40px;
  text-align: center;
  font-size: 12px;
}

.err-message {
  display: flex;
  justify-content: center;
}

.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-in {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 11em;
  height: 2.5em;
  background-color: #00b7ff;
  color: white;
  font-size: 17px;
  transition: .5s;
}

.button-in:hover {
  background-color: #62c955;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
}

.link-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign {
  max-width: 14em;
  max-height: 1.5em;
  font-size: 13px;
}

.sign-link {
  max-width: 14em;
  max-height: 1.5em;
  font-size: 13px;
}

.sign-link:hover {
  max-width: 14em;
  max-height: 2.5em;
  transition: 0.7s;
  color: #0599d4;
  text-decoration: underline;
  font-size: 16px;
}

/*TODO----------------------------------------LOGIN------------------------------- */


/*TODO--------------------------------------DETAILS-------------------------------- */

.details-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;

  margin: 2em;
}


/* #go-back {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.8em;
}

.go-back-button {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 15em;
  height: 2em;
  background-color: #00b7ff;
  color: white;
  font-size: 15px;
  transition: .5s;
  position: fixed;
}

.go-back-button:hover {
  background-color: #62c955;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
} */




.details-card {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 1em;

  box-sizing: border-box;
  width: 60vw;
  min-width: 32em;
  max-width: 70em;

  padding: 2em;
  margin: auto;
  border-radius: 4px;
  background: #f1f1f1;
  color: rgb(54, 53, 53);
  transition: color .3s ease-in-out, box-shadow .5s ease-in-out;

  /* transition: 0.4s ease-in-out; */
}

.details:hover {
  box-shadow: inset 500px 0 500px 0 #54b3d6;
  color: rgb(22, 20, 20);
  
  /* border: 5px solid rgb(207, 203, 11);
  border-radius: 8px;
  transform: scale(1.1); */
}

.detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 15em;
  max-width: 25em;
  min-height: 15em;
  max-height: 20em;
  width: 20vw;
  margin-right: 2em;
}

.det-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-image {
  width: 16vw;
  height: 20vh;
  min-width: 15em;
  max-width: 20em;
  min-height: 20em;
  max-height: 20em;
}

.detail-info {
  display: flex;
  flex-direction: column;
  
  width: 20vw;
  margin-left: 2em;
  /* min-width: 15em;
  max-width: 25em;*/
  /* min-height: 15em;
  max-height: 20em; 
  height: 20vh; */

}

.detail-title {
  color: #000;
  font-size: 1.2em;
}

.detail-title h3 {
  /* border: 4px solid rgb(216, 67, 17); */
}

.detail-category {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1em;
  padding-bottom: 2em;
}

.detail-category p {
  /* border: 4px solid rgb(216, 67, 17); */
  width: 90px;
  background: rgb(195, 195, 195);
  border-radius: 3px;
}

.detail-text {
  
}

.detail-text p {
  font-size: 1.1em;
}

.detail-user {
  display: flex;
  color: #000;
  font-size: 1.1em;
}

.detail-user h4{
  /* border: 4px solid rgb(216, 67, 17); */
}

/*?-------------------------------------Buttons------------------------------------*/

.detail-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.detail-button-edit {
  
}

.edit-link {
  
}

.edit-button {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 5.5em;
  height: 2em;
  background-color: #00b7ff;
  color: white;
  font-size: 17px;
  transition: .5s;
}

.edit-button:hover {
  background-color: #62c955;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
}


.owner-button-delete {
  
}

.del-form {
  
}

.delete-button {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 5.5em;
  height: 2em;
  background-color: #00b7ff;
  color: white;
  font-size: 17px;
  transition: .5s;
}

.delete-button:hover {
  background-color: #d85537;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
}


/*?------------------------------------Comments--------------------------------*/

.comment {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  
  width: 60vw;
  min-width: 32em;
  max-width: 70em;
  margin: auto;
  background: #c9c9c8;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgb(54, 53, 53);
}

.comment-title {
  display: flex;
  justify-content: flex-start;
  
  margin-left: 3.8em;
  font-size: 1.6em;
  font-weight: 900;
}

.com-form {
  display: flex;
  flex-direction: column;

  background: #c9c9c8;
  padding: 2em;
  margin: auto;
  border-radius: 4px;
  color: rgb(54, 53, 53);
  gap: 1.5em;
}

.comment-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  
}

.input-com-txt {
  text-align: start;
  width: 85%;
  background: rgb(255, 255, 255);
  padding: 10px 10px 10px 15px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 14px;
  color: #222222;
  opacity: 90%;
  height: 5vh;
}

/* .label-com-link {

} */

.input-com-link {
  width: 85%;
  background: rgb(255, 255, 255);
  padding: 10px 10px 10px 15px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-size: 14px;
  color: #222222;
  opacity: 90%;
}

.comment-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.8em;
}

.button-new-comment {
  border: 2px rgb(218, 217, 217);
  border-radius: 9px;
  width: 15em;
  height: 2em;
  background-color: #00b7ff;
  color: white;
  font-size: 15px;
  transition: .5s;
}

.button-new-comment:hover {
  background-color: #62c955;
  transition: 0.4s;
  color: rgb(44, 43, 43);
  border: 2px #acbec5;
}


/*?-------------------------------All Comments--------------------------------*/


.all-comments {
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;
  width: 60vw;
  min-width: 32em;
  max-width: 70em;
  padding: 2em;
  margin: auto;
  gap: 1.5em;
  background: #f3f3f3;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 2.9px solid #686b6d;
}

.all-comments-username {
  display: flex;
  margin: 3px 0px 3px 0px;
  background-image: url(../images/login2.jpg);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: left;
}

.all-coms-user {
  font-size: 1.4em;
  font-weight: 900;
  padding-left: 3em;
}

.all-comments-text {
  display: flex;
  flex-direction: column;
  
}

.all-coms-text {
  font-size: 1.1em;
  
}

.all-comments-link {
  display: flex;
}

.all-coms-link {

}

.all-coms-link a {
  text-decoration: none;
}

.all-coms-link a:hover {
  color: #0599d4;
  text-decoration: underline;
}






.list-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-title-link {
  text-decoration: none;
}

.detail-title-link:hover {
  color: #0599d4;
  text-decoration: underline;
}

.sp-title {
  color: #000000;
  text-decoration: none;
  font-size: 1.4em;
}

.sp-title:hover {
  transition: 0.3s;
  color: #0599d4;
  text-decoration: underline;
}





.user-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.user-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-user {
  display: flex;
  flex-direction: row;
  gap: 1em;

  box-sizing: border-box;
  width: 60vw;
  min-width: 32em;
  max-width: 70em;

  padding: 2em;
  margin: auto;
  border-radius: 4px;
  background: #f1f1f1;
  color: rgb(54, 53, 53);
  /* transition: color .3s ease-in-out, box-shadow .5s ease-in-out; */

  transition: 0.4s ease-in-out;
}

.details-user:hover {
  /* box-shadow: inset 500px 0 500px 0 #bebe0e;
  color: rgb(22, 20, 20); */
  
  box-shadow: inset 500px 0 500px 0 #c9d0d0;
  border: 5px solid rgb(120, 120, 118);
  border-radius: 8px;
  transform: scale(1.1);
}

.spu-title {
  color: #000000;
  text-decoration: none;
  font-size: 1.4em;
}





.add-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.add-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.add-title {
  font-size: 1.2em;
  font-weight: 400;
}

.add-forms {
  display: flex;
}

.forms-cat {
  max-width: 375px;
  background: #c9c9c8;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  color: rgb(54, 53, 53);
  gap: 7.5em;
  padding: 3em;


}

.form-space-cattegory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;

  width: 20vw;
  min-width: 20em;
  max-width: 70em;
  
}



.error-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.error-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.error-title h1 {
  font-size: 6em;
}

.error-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  
}

.pinta-mal {
  width: 40vw;
  height: 50vh;
  min-width: 30em;
  max-width: 50em;
  min-height: 30em;
  max-height: 50em;
}





.not-found-page {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.not-found-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.not-found-title h1 {
  font-size: 6em;
}

.error-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  
}
